* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

body{
    background-color: rgb(203, 223, 222);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    margin: 30px 4% 30px 4%;
    padding: 30px 3% 30px 3%;
    box-shadow: 6px 6px 12px rgb(74, 76, 77);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f7f7;
    margin: 30px 4% 30px 4%;
    padding: 30px 3% 30px 3%;
    box-shadow: 6px 6px 12px rgb(74, 76, 77);
}

section figure{
    flex-basis: 45%;
}

.pagina article, .nav article{
    flex-basis: 45%;
}

h1 {
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 35px;
}

h2 {
    margin-bottom: 20px;
    font-weight: 700;
}

.nav{
    align-items: baseline;
}

#nav ul{
    line-height: 3.5vw;
}

#info article, #biblio article, header article, .nav article, .note article{
    border-left: 5px solid black;
    margin-left: 4%;
    padding-left: 4%;
    line-height: 2.3vw;
    font-size: 17px;
}

.pagina p{
    line-height: 2.3vw;
    font-size: 17px;
    padding-left: 5%;
    border-left: 5px solid black;
}

article ul{
    line-height: 2.8vw;
    font-size: 17px;
    margin-left: 4%;
    margin-top: 30px;
}

.note ol{
    line-height: 2.8vw;
    font-size: 17px;
    margin-left: 2%;
    margin-right: 4%;
    margin-top: 30px;
}


figure img {
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 6px 6px 12px rgb(121, 121, 121);
}

.green{
    background-color: lightgreen;
}

@media screen and (max-width: 1020px){
    section{
        flex-wrap: wrap;
    }

    h2{
        margin-top: 20px;
    }

    .pagina article, .nav article{
        flex-basis: 85%;
    }

    .pagina p{
        line-height: 2.8vw;
    }

    section figure{
        flex-basis: 85%;
        justify-content: center;
    }
}